.header {
  display: flex;
  align-items: center;
  width: 100%;
  height: 50px;
}

.link {
  display: block;
  width: 120px;
  margin-left: 20px;
  text-transform: uppercase;
  transition: 0.3s;
}

.link:hover {
  color: #29C21C;
}